---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BentoGrid from "@/components/BentoGrid.astro";
import getSortedPosts from "@/utils/getSortedPosts";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);

// Get explicitly the top 4 recent posts for the Bento Grid
const bentoPosts = sortedPosts.slice(0, 4);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    {
      bentoPosts.length > 0 && (
        <section id="bento-recent" class:list={["pt-8 pb-6"]}>
          <BentoGrid posts={bentoPosts} />
        </section>
      )
    }
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
