---
import type { CollectionEntry } from "astro:content";
import BentoCard from "./BentoCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
const bigPost = posts[0];
const smallPosts = posts.slice(1, 4);
---

<div class="grid grid-cols-3 gap-[10px]">
  {/* Big Post (Most Recent) */}
  {bigPost && <BentoCard post={bigPost} isLarge={true} />}

  {/* Small Posts (Next 3 in a grid) */}
  {smallPosts.map((post) => (
    <BentoCard post={post} />
  ))}
</div>


