---
import { SHARE_LINKS } from "@/constants";
import LinkButton from "./LinkButton.astro";

const URL = Astro.url;
const lang = URL.pathname.split("/").filter(Boolean)[0] || "ko";
const SHARE_TEXT = {
  ko: "이 글 공유하기:",
  en: "Share this post on:",
  jp: "この投稿をシェアする：",
  cn: "分享此文章："
};
const shareText = SHARE_TEXT[lang as keyof typeof SHARE_TEXT] || SHARE_TEXT.ko;
---

{
  SHARE_LINKS.length > 0 && (
    <div class="flex flex-none flex-col items-center justify-center gap-1 md:items-start">
      <span class="italic">{shareText}</span>
      <div class="text-center">
        {SHARE_LINKS.map(social => (
          <LinkButton
            href={`${social.href + URL}`}
            class="scale-90 p-2 hover:rotate-6 sm:p-1"
            title={social.linkTitle}
          >
            <social.icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
            <span class="sr-only">{social.linkTitle}</span>
          </LinkButton>
        ))}
      </div>
    </div>
  )
}
